@use '../abstract' as *;

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    &--full {
        max-width: unset;
    }

    &.xs-p-0 {
        @include mq(xs) {
            padding: 0;
        }
    }

    &.grid {
        display: grid;
        gap: 40px 20px;

        @include mq(xs) {
            gap: 24px 16px;
        }

        &.grid-cols-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.grid-cols-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.grid-lg-cols-2 {
            @include mq(lg) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.grid-sm-cols-2 {
            @include mq(sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.grid-md-cols-1 {
            @include mq(lg) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &.grid-xs-cols-2 {
            @include mq(xs) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .col-span-2 {
        grid-column: span 2 / span 2;
    }
}