@use '../abstract' as *;

.container {
    @include flex($d: column);
    max-width: $container-width;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(clr(white), .02);

    &--full {
        max-width: unset;
    }
}