@use '../abstract' as *;

section {
    &.section-padding {
        padding: size(96) 0;

        @include mq(xl) {
            padding-block: size(80);
        }

        @include mq(lg) {
            padding-block: size(64);
        }

        @include mq(sm) {
            padding-block: size(48);
        }

        &--sm {
            padding-block: size(64);

            @include mq(sm) {
                padding-block: size(40);
            }
        }
    }
}