@use '../abstract' as *;

/*
  The base.scss file defines global typography styles (headers, paragraphs, labels...),
  reusable styles, and foundational styles for elements like html, body, blockquote, and kbd.
  It establishes a consistent foundation for the rest of the styles.
*/

// >-----------------------------------> Global Styles <-------------------------------------<

/*
  The html and body tags are used to set global baseline settings,
  ensuring consistency across the document and establishing
  foundational styles for layout and behavior.
*/

html {
    scroll-snap-type: y mandatory;
    line-height: 1.5;
}

body {
    background-color: clr(neutral, 950);
    color: clr(white);
    overflow-y: scroll;
    font-family: var(--font-inter);
}

.main {
    @include flex($d: column, $ai: center);
    padding: size(80) size(16);
}

// >----------------------------------> Heading Styles <-------------------------------------<
/*
  Headings (h1-h6) define the hierarchy of content, ranging from the most important (h1) to
  the least (h6). They are used for structure and readability, unlike display styles, which
  focus on visual impact.
*/

h1 {
    font-size: fs(800);
    font-weight: fw(700);
    letter-spacing: -0.025em;
    margin-bottom: size(48);

    @include mq(lg) {
        font-size: fs(550);
        margin-bottom: size(40);
    }

    @include mq(sm) {
        margin-bottom: size(32);
    }

    @include mq(xs) {
        margin-bottom: size(24);
    }
}

h2 {
    font-size: fs(450);
    margin-bottom: size(36);

    @include mq(lg) {
        margin-bottom: size(28);
    }

    @include mq(sm) {
        margin-bottom: size(24);
    }

    @include mq(xs) {
        margin-bottom: size(20);
    }
}
/*
h3 {
    font-family: var(--h3-ff);
    font-weight: var(--h3-fw);
    letter-spacing: var(--h3-ls);
    text-transform: var(--h3-tt);
    margin-bottom: size(32);

    @include responsive-property(font-size, var(--h3-fs), var(--h3-sf));
    @include responsive-property(line-height, var(--h3-lh), var(--h3-sf));

    @include mq(lg) {
        margin-bottom: size(28);
    }

    @include mq(sm) {
        margin-bottom: size(24);
    }

    @include mq(xs) {
        margin-bottom: size(20);
    }
}*/

// >-----------------------------------> Link Styles <---------------------------------------<

a {
    &.link {
        user-select: none;
        color: var(--clr-primary-500);
        @include pseudo($bottom: -2) {
            background-color: currentColor;
            width: 0;
            height: 2px;
            @include transition(width, 200ms, 'ease-in-out');
        }

        &:visited {
            color: var(--clr-danger);
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

// Scrollbar

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f1015;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(clr(white), 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(clr(white), 0.2);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0f1015 rgba(clr(white), 0.1);
}