$colors: (
    primary: (
        50: #d4e4f2,
        100: #b7d2e9,
        200: #93bbdf,
        300: #6fa4d4,
        400: #4b8ec9,
        500: #2777be,
        600: #21639e,
        700: #1a4f7f,
        800: #143c5f,
        900: #0d283f,
        950: #081826,
    ),
    secondary: (
        50: #fff7ed,
        100: #ffedd5,
        200: #fed7aa,
        300: #fdba74,
        400: #fb923c,
        500: #f97316,
        600: #ea580c,
        700: #c2410c,
        800: #9a3412,
        900: #7c2d12,
        950: #431407,
    ),
    neutral: (
        50: #f9fafb,
        100: #f3f4f6,
        200: #e5e7eb,
        300: #d1d5db,
        400: #9ca3af,
        500: #6b7280,
        600: #4b5563,
        700: #374151,
        800: #1f2937,
        900: #111827,
        950: #030712,
    ),
    generic: (
        white: #ffffff,
        black: #000000,
    ),
    'status': (
        warning-tint: #FFE8CC,
        warning: #f1b14e,
        warning-shade: #d27f00,
        danger-tint: #FF9D96,
        danger: #fb4e43,
        danger-shade: #b0372f,
        success-tint: #DAF1E5,
        success: #46b77b,
        success-shade: #318056,
        info-tint: #D4E4F2,
        info: #2777be,
        info-shade: #1f5f98,
    ),
);