// $ff-primary: "Barlow", sans-serif;

$font-weights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900
);

$base-font-size: 1rem;

$font-sizes: (
    50: 0.625rem,   // 10px
    100: 0.688rem,  // 11px
    150: 0.75rem,   // 12px
    200: 0.875rem,  // 14px
    250: 0.938rem,  // 15px
    300: 1rem,      // 16px
    350: 1.125rem,  // 18px
    400: 1.25rem,   // 20px
    450: 1.5rem,    // 24px
    500: 1.75rem,   // 28px
    550: 2rem,      // 32px
    600: 2.25rem,   // 36px
    650: 2.5rem,    // 40px
    700: 3rem,      // 48px
    750: 3.5rem,    // 56px
    800: 4rem,      // 64px
    850: 5rem,      // 80px
    900: 6rem,      // 96px
    950: 8rem       // 128px
);

$line-heights: (
    50: 0.938rem,   // 15px
    100: 1.031rem,  // 16.5px
    150: 1.125rem,  // 18px
    200: 1.312rem,  // 21px
    250: 1.406rem,  // 22.5px
    300: 1.5rem,    // 24px
    350: 1.575rem,  // 25.2px
    400: 1.75rem,   // 28px
    450: 2.025rem,  // 32.4px
    500: 2.275rem,  // 36.4px
    550: 2.6rem,    // 41.6px
    600: 2.812rem,  // 45px
    650: 3rem,      // 48px
    700: 3.3rem,    // 52.8px
    750: 4.131rem,  // 66.1px
    800: 4.637rem,  // 74.2px
    850: 5.7rem,    // 91.2px
    900: 6.838rem,  // 109.4px
    950: 8.962rem   // 143.4px
);

$scaling-factors: (
    1: 1,
    2: 1.067,
    3: 1.125,
    4: 1.2,
    5: 1.25,
    6: 1.333,
    7: 1.414,
    8: 1.5,
    9: 1.618,
    10: 1.667,
    11: 1.778,
    12: 1.875,
    13: 2
);